<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container-fluid">
    <a class="navbar-brand profile-1" href="#">Bootcamp</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active profile-1" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/', 'profile']" class="nav-link profile-1">Profile</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/', 'count']" class="nav-link profile-1">Count</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/', 'validation']" class="nav-link profile-1">Validation</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/', 'communication']" class="nav-link profile-1">Communication</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/', 'produsen']" class="nav-link profile-1">Produsen</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
