<div class="container mt-5">
  <h3 class="count produsen">My Produsen</h3>
  <hr class="border-primary">
  <div class="card p-4 mt-5">
    <h3 class="text-center produsen">List Produsen</h3>
    <button
      [routerLink]="['/', 'produsen', 'create']"
      class="btn btn-light btn-custom"
      style="width: 100px">Tambah
    </button>
    <table class="table table-bordered mt-3">
      <thead class="table-custom">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Kode</th>
        <th scope="col">Alamat</th>
        <th scope="col">Aksi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produsen of listProdusen; let i = index"
          class="text-center">
        <th class="body-custom" scope="row">{{i + 1}}</th>
        <td class="body-custom">{{produsen.nama}}</td>
        <td class="body-custom">{{produsen.kode}}</td>
        <td class="body-custom">{{produsen.alamat}}</td>
        <td>
          <button
            [routerLink]="['/', 'produsen', 'update', produsen.id]"
            class="btn btn-sm btn-outline-success me-3"
            style="font-family: 'MADE TOMMY'">
            Update
          </button>
          <button
            (click)="delete(produsen.id)"
            class="btn btn-sm btn-outline-danger"
            style="font-family: 'MADE TOMMY'">Hapus
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

