<div class="container mt-5">
  <h3 class="produk">My Produk</h3>
  <hr class="border-primary">
  <div class="card p-4 mt-5">
    <h3 class="text-center produk">List Produk</h3>
    <button
      [routerLink]="['/', 'produk', 'create']"
      class="btn btn-light"
      style="width: 100px">Tambah
    </button>
    <table class="table table-bordered mt-3">
      <thead class="table-custom">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Nama</th>
        <th scope="col">Jenis</th>
        <th scope="col">Berat</th>
        <th scope="col">Harga</th>
        <th scope="col">Produsen</th>
        <th scope="col">Aksi</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produk of listProduk; let i = index"
          class="text-center">
        <th class="body-custom" scope="row">{{i + 1}}</th>
        <td class="body-custom">{{produk.nama}}</td>
        <td class="body-custom">{{produk.jenis}}</td>
        <td class="body-custom">{{produk.berat}}</td>
        <td class="body-custom">Rp{{produk.harga}},00</td>
        <td class="body-custom">{{produk.produsen.nama}}</td>
        <td>
          <button
            [routerLink]="['/', 'produk', 'update', produk.id]"
            class="btn btn-sm btn-outline-success me-3"
            style="font-family: 'MADE TOMMY'">Update
          </button>
          <button
            (click)="delete(produk.id)"
            class="btn btn-sm btn-outline-danger"
            style="font-family: 'MADE TOMMY'">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
