<div class="container mt-5">
  <h3 class="profile">My Profile</h3>
  <hr class="border-dark">
  <div class="card-group">
    <div class="card mb-3 bg-custom" style="max-width: 650px">
      <div class="row g-1">
        <div class="col-md-4">
          <img class="img-fluid rounded-start"
               src="https://i.pinimg.com/564x/90/b0/06/90b00690098eb9cbc59c28cddf1e764f.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mt-3 profile-1">Anak Agung Gede Putra Jagadhita<br>
              (Jagadhita)</h5>
            <p class="card-text profile-1">Bootcamp Front End Internship Developer <br> Universitas Telkom</p>
            <p class="card-text profile-2"style="margin-top: 37px"><small>since @2002</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 bg-custom-2" style="max-width: 650px">
      <div class="row g-1">
        <div class="col-md-4">
          <img class="img-fluid"
               src="https://i.pinimg.com/564x/42/82/88/42828873b10a1d7d10173265aaac60d7.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mt-3 profile-1">宇宙の偉大な息子 <br>
              (宇宙)</h5>
            <p class="card-text profile-1">フロントエンドインターンシップ開発者 <br> テルコム大学</p>
            <p class="card-text profile-3" style="margin-top: 37px"><small>@2002 以降</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
