<div class="container mt-5">
  <h3>My Profile</h3>
  <div class="card mb-3" style="max-width: 650px">
    <div class="row g-1">
      <div class="col-md-4">
        <img alt="..." class="img-fluid rounded-start"
             src="https://images.unsplash.com/photo-1558624232-75ee22af7e67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mt-1">Anak Agung Gede Putra Jagadhita <br>
            (Jagadhita)</h5>
          <p class="card-text">Bootcamp Front End Internship Developer</p>
          <p class="card-text"><small class="text-muted "><br> D3 Sistem informasi <br>
            Universitas Telkom</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
