<br>
<div class="container">
  <div class="card-group">
    <div class="card mb-3" style="max-width: 400px;">
      <div class="row g-2">
        <div class="col-md-4">
          <img alt="..." class="img-fluid rounded-start" src="/assets/images/zombies.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jagadhita (GJ-Z)</h5>
            <p class="card-text">D3 Sistem Informasi</p>
            <p class="card-text"><small class="text-muted">Universitas Telkom</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 400px;">
      <div class="row g-2">
        <div class="col-md-4">
          <img alt="..." class="img-fluid rounded-start" src="/assets/images/zombies.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jagadhita (GJ-Z)</h5>
            <p class="card-text">D3 Sistem Informasi</p>
            <p class="card-text"><small class="text-muted">Universitas Telkom</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 400px;">
      <div class="row g-2">
        <div class="col-md-4">
          <img alt="..." class="img-fluid start" src="/assets/images/zombies.jpg">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jagadhita (GJ-Z)</h5>
            <p class="card-text">D3 Sistem Informasi</p>
            <p class="card-text"><small class="text-muted">Universitas Telkom</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
